<div class="meta-box">
    <div class="meta-box-title">// ZONE_LOCATIONS</div>
    <ul class="meta-list" id="right-locations-box">
        <li class="no-data" style="font-size:0.7rem;">Select active parameters...</li>
    </ul>
</div>

<div class="meta-box">
    <div class="meta-box-title">// METADATA_PROPERTIES</div>
    <ul class="meta-list" id="right-meta-box">
        <li class="no-data" style="font-size:0.7rem;">Select active parameters...</li>
    </ul>
</div>

<div class="ad-slot ad-sidebar-right">AD_SIDEBAR_R</div>