<div>
    <div class="nav-section-title">Introboys</div>
    <ul class="nav-links">
        <li><a href="index.html" id="nav-home">Home</a></li>
    </ul>
</div>
<div>
    <div class="nav-section-title">Database</div>
    <ul class="nav-links">
        <li class="nav-tool-item"><a href="exp.html" id="nav-calc">EXP Tier List</a></li>
        <li class="nav-tool-item"><a href="quiz.html" id="nav-quiz">OX Quiz Answers</a></li>
        <li class="nav-tool-item"><a href="timers.html" id="nav-timers">Spawn Trackers <span class="nav-beta">[beta]</span></a></li>
        <li><a href="guides.html" id="nav-guides">Game Guides <span class="nav-beta">[wip]</span></a></li>
    </ul>
</div>
<div class="ad-slot ad-sidebar-left">AD_SIDEBAR_L</div>
